@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scaleInfinite {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.95);
    }
}

.animate-scale {
    animation: scaleInfinite 1s ease-in-out infinite alternate; /* Use scale animation for infinite loop */
}

.animate-pickup {
    animation: scaleInfinite 100ms ease-out forwards; /* Use scale animation for infinite loop */
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 6px;
}

::-webkit-scrollbar-thumb {
    border-radius: 64px;
    background-color: #E7E4ED;
}