@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scaleInfinite {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.95);
    }
}

.animate-scale {
    animation: scaleInfinite 1s ease-in-out infinite alternate; /* Use scale animation for infinite loop */
}

.animate-pickup {
    animation: scaleInfinite 100ms ease-out forwards; /* Use scale animation for infinite loop */
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 6px;
}

::-webkit-scrollbar-thumb {
    border-radius: 64px;
    background-color: #E7E4ED;
}

.kids-zone {
        color: yellow;
      
        background: linear-gradient(to right, yellow 50%, transparent 0%) top repeat-x, 
          linear-gradient(yellow 50%, transparent 0%) right repeat-y,
          linear-gradient(to right, yellow 50%, transparent 0%) bottom repeat-x,
          linear-gradient(yellow 50%, transparent 0%) left repeat-y;
        background-size: 24px 2px, 2px 24px;
}

.noise-zone {
        color: pink;
      
        background: linear-gradient(to right, pink 50%, transparent 0%) top repeat-x, 
          linear-gradient(pink 50%, transparent 0%) right repeat-y,
          linear-gradient(to right, pink 50%, transparent 0%) bottom repeat-x,
          linear-gradient(pink 50%, transparent 0%) left repeat-y;
        background-size: 24px 2px, 2px 24px;
}